<div class="col-lg-8 fos_user_user_show">
    <h2>Dein Profil</h2>
    <dl>
        <dt>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}:</dt>
        <dd>{{ user.username }}</dd>
        <dt>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}:</dt>
        <dd>{{ user.email }}</dd>
    </dl>
</div>
