/web/resources/
/web/bundles/
/web/js/
/web/css/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/build/bin/
/build/api/
/build/phpdox/
/build/coverage/
/build/logs/
/build/pdepend/
/build/*.tar.gz
/build/ant.properties
cache.properties
.idea