{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="col-lg-12">
    <div class="alert alert-danger">
        <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </div>
</div>
{% endblock fos_user_content %}
