<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><strong>Passwort zurücksetzen</strong></h3></div>
        <div class="panel-body">

            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset" role="form">
                {{ form_widget(form) }}
                <div class="form-group">
                    <button type="submit" id="_submit" name="_submit" class="btn btn-primary">
                        {{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
